/* Estilos generales */
body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-image: linear-gradient(to right, aquamarine, blue);

}

.container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
}

/* Estilos del navbar */
.navbar {
     background-image: linear-gradient(to right, aquamarine, blue);
     color: #fff;
     padding: 10px 0;
     border-bottom: 1px solid yellow;
          }

.navbar .logo {
     font-size: 24px;
     font-weight: bold;
     text-decoration: none;
     color: #fff;
     
}

.nav-links {
     list-style: none;
     padding: 0;
     margin: 0;
}

.nav-links li {
     display: inline;
     margin-right: 20px;
}

.nav-links a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
}

/* Estilos para el hover */
.nav-links a:hover {
     border-bottom: 2px solid #fff;
}

header {
     text-align: center;
     display: inline;
     padding-left: 270px;
     font-size: 50px;
}

section {
     padding: 5px;
     margin-left: 20px;
     float: left;
     width: 65%;
     margin-top: 1em;
}

aside {
     float: right;
     width: 25%;
     height: 100%;
     position: static;


}

article {
     padding: 5px;
     margin-top: 20px;
     float: left;
     width: 65%;
     margin-left: 20px;
}

video {
     margin-left: 20px;
     margin-top: 20px;
     width: 35%;

}

#rectangulos {
     margin: 20px auto;
     display: block;
}
footer{
     height: 25px;
     background-color: burlywood;
}

img{
     padding-top: 15px;
     height: 50px;
     width: 100px;
}
h1{
     margin-left: 50px;
}